In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
import sklearn
import warnings
warnings.filterwarnings("ignore") #REMOVES ANNOYING WARNINGS

In [4]:
pd.set_option('display.max_columns', None) #VIEW ALL COLUMNS BECAUSE SOME ARE HIDDEN BY DEFAULT

In [5]:
df_summer = pd.read_csv("summer.csv")

In [6]:
df_summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [7]:
df_summer["season"] = "summer" #adding a season column

In [8]:
df_summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,summer

In [9]:
df_winter = pd.read_csv("winter.csv")

In [10]:
df_winter["season"] = "winter" #adding a season column

In [11]:
df_winter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,winter

In [32]:
df_total = df_summer.append(df_winter,ignore_index=True)#Merging the two datasets, winter and summer with the season column as a new feature

In [33]:
df_total.dropna(inplace=True)

In [34]:
df_total.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,summer

In [84]:
df_total.describe(include="all")

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,season
count,36931.000000,36931,36931,36931,36931,36931,36931,36931,36931,36931
unique,NaN,41,48,72,26494,148,2,733,3,2
top,NaN,London,Aquatics,athletics,"PHELPS, Michael",USA,Men,Ice Hockey,Gold,summer
freq,NaN,3563,4170,3637,22,5238,26688,1563,12405,31161
mean,1972.957407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,32.447047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1896.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1952.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1980.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df_total["Event"].unique()

array(['100M Freestyle', '100M Freestyle For Sailors', '1200M Freestyle',
       '400M Freestyle', '100M', '110M Hurdles', '1500M', '400M', '800M',
       'Discus Throw', 'High Jump', 'Long Jump', 'Marathon', 'Pole Vault',
       'Shot Put', 'Triple Jump', 'Individual Road Race', '100KM', '10KM',
       '12-Hour Race', '1KM Time Trial', 'Sprint Indivual',
       'Foil Individual', 'Foil, Masters', 'Sabre Individual',
       'Horizontal Bar', 'Parallel Bars', 'Pommel Horse', 'Rings',
       'Rope Climbing', 'Team, Horizontal Bar', 'Team, Parallel Bars',
       'Vault', '25M Army Pistol', '25M Rapid Fire Pistol (60 Shots)',
       '50M Pistol (60 Shots)', 'Army Rifle, 200M', 'Army Rifle, 300M',
       'Doubles', 'Singles', 'Heavyweight - One Hand Lift',
       'Heavyweight - Two Hand Lift', 'Open Event', '1500M Freestyle',
       '200M Backstroke', '200M Freestyle', '200M Obstacle Event',
       '200M Team Swimming', '4000M Freestyle', 'Underwater Swimming',
       'Water Polo', 'Au Chapelet, 33M', 'Au Chapelet, 50M',
       'Au Cordon Doré, 33M', 'Au Cordon Doré, 50M',
       'Sur La Perche À La Herse', 'Sur La Perche À La Pyramide', '200M',
       '200M Hurdles', '3000M Steeplechase', '4000M Steeplechase',
       '400M Hurdles', '5000M Team', '60M', 'Hammer Throw',
       'High Jump, Standing', 'Long Jump, Standing',
       'Triple Jump, Standing', 'Cesta Punta', 'Cricket', 'Double',
       'Individual 1 Ball', 'Individual 2 Balls', '25 Kilometres',
       'Individual', 'Long Jump Individual', 'Épée Individual',
       'Épée, Amateurs And Masters', 'Épée, Masters', 'Sabre, Masters',
       'Football', 'Individual All-Round', 'Polo',
       'Eight With Coxswain (8+)', 'Four-Oared Shell With Coxswain (4-)',
       'Pair-Oared Shell With Coxswain (2+)', 'Single Sculls (1X)',
       'Rugby', '0.5-1T', '10-20T', '3-10T', 'Open Class',
       '50M Army Pistol, Team', 'Army Rifle, 300M, 3 Positions',
       'Army Rifle, 300M, Kneeling', 'Army Rifle, 300M, Prone',
       'Army Rifle, 300M, Standing', 'Free Rifle, Team',
       'Trap (125 Targets)', 'Mixed Doubles', 'Tug Of War',
       '10M Platform', 'Plunge For Distance', '100M Backstroke',
       '400M Breaststroke', '4X50Y Freestyle Relay',
       '50Y Freestyle (45.72M)', '880Y Freestyle (804.66M)',
       'Double American Round (60Y - 50Y - 40Y)',
       'Double Columbia Round (50Y - 40Y - 30Y)',
       'Double National Round (60Y - 50Y)',
       'Double York Round (100Y - 80Y - 60Y)', 'Team Round 60Y',
       'Teams Fita Round', '4Miles Team', '56LB Weight Throw (25.4KG)',
       'Decathlon', 'Triathlon (Long Jump / Shot Put / 100 Yards)',
       '- 47.63KG (Flyweight)', '+ 71.67KG (Heavyweight)',
       '47.63 - 52.16KG (Bantamweight)', '52.16 - 56.7KG (Featherweight)',
       '56.7 - 61.24KG (Lightweight)', '61.24 - 65.77KG (Welterweight)',
       '65.77 - 71.67KG (Middleweight)', '1 Mile (1609.3M)',
       '1/2 Mile (804.7M)', '1/3 Mile (536.5M)', '1/4 Mile (402.3M)',
       '2 Miles (3.218KM)', '25 Miles (40.232KM)', '5 Miles (8.046KM)',
       'Foil Team', 'Stick, Single', 'Team', 'Club Swinging',
       'Combined 3 Events', 'Combined 4 Events', 'Team Competition',
       'Lacrosse', 'Coxless Pair (2-)', 'Double Sculls (2X)',
       'Four Without Coxswain (4-)', 'All-Around Dumbbell Contest',
       '- 47.6KG (Light-Flyweight)', '47.6 - 52.16KG (Flyweight)',
       '52.16 - 56.7KG (Bantamweight)', '56.7 - 61.23KG (Featherweight)',
       '61.23 - 65.77KG (Lightweight)', '65.77 - 71.67KG (Welterweight)',
       '3M Springboard', '200M Breaststroke', '4X200M Freestyle Relay',
       'Continental Style 50M', 'National Round (60Y - 50Y)',
       'York Round (100Y - 80Y - 60Y)', '10Miles Walk (16093M)',
       '3200M Steeplechase', '3500M Walk', '3Miles Team (4828M)',
       '4X400M Relay', '5 Miles (8047M)', 'Discus Throw Ancient Style',
       'Javelin Throw', 'Javelin Throw Freestyle',
       '- 52.62KG (Bantamweight)', '52.62 - 57.15KG (Featherweight)',
       '57.15 - 63.5KG (Lightweight)', '63.5 - 71.67KG (Middleweight)',
       '1980 Yards Pursuit, Team', '2000M Tandem', '20KM', '5000M',
       'One Lap (660Y) Sprint', 'Épée Team', 'Sabre Team', 'Hockey',
       '12M', '6M', '7M', '8M', '1000Y Free Rifle, Prone',
       '100M Running Deer, Double Shots',
       '100M Running Deer, Single Shots',
       '100M Running Deer, Single Shots, Team',
       '25Y Small Bore Rifle, Disappearing Target',
       '25Y Small Bore Rifle, Moving Target',
       '300M Free Rifle 3 Positions (3X40 Shots)',
       '50+100Y Small Bore Rifle, Team', '50M Rifle Prone (60 Shots)',
       '50Y Army Pistol, Team', 'Clay Pigeons, Team', 'Rifle, Team',
       'Pairs', 'Special Figures', 'Doubles Indoor', 'Singles Indoor',
       '8M Class C', 'Class B Up To 60 Feet', 'Open Class A',
       '- 54KG (Bantamweight)', '+ 73KG (Heavyweight)',
       '54 - 60.3KG (Featherweight)', '60.3 - 66.6KG (Lightweight)',
       '66.6 - 73KG (Middleweight)', '- 66.6KG (Lightweight)',
       '+ 93KG (Super Heavyweight)', '73 - 93KG (Light-Heavyweight)',
       'Plain High Diving', '4X100M Freestyle Relay', '10000M',
       '10000M Walk', '3000M Team', '4X100M Relay',
       'Cross Country Individual', 'Cross Country Team',
       'Discus Throw, Both Hands', 'Javelin Throw, Both Hands',
       'Pentathlon', 'Shot Put, Both Hands', 'Individual Time Trial',
       'Team Time Trial', 'Team, Free System', 'Team, Swedish System',
       'Individual Competition', 'Coxed Fours Jugriggers', '10M',
       '25M Small Bore Rifle, Team', '25M Small Rifle',
       '30M Army Pistol, Team', '50M Small Bore Rifle, Team',
       '600M Free Rifle', 'Mixed Doubles Indoor',
       '- 60KG (Featherweight)', '+ 82.5KG (Super Heavyweight)',
       '60 - 67.5KG (Lightweight)', '67.5 - 75KG (Middleweight)',
       '75 - 82.5KG (Light-Heavyweight)', 'Fixed Bird Target Large Birds',
       'Fixed Bird Target Large Birds Teams',
       'Fixed Bird Target Small Bird, Teams',
       'Fixed Bird Target Small Birds', 'Moving Bird Target 28M Teams',
       'Moving Bird Target 33M Teams', 'Moving Bird Target 50M Teams',
       'Moving Bird Target, 28M', 'Moving Bird Target, 33M',
       'Moving Bird Target, 50M', '3000M Walk', '- 50.8KG (Flyweight)',
       '+ 79.38KG (Heavyweight)', '50.8 - 53.52KG (Bantamweight)',
       '53.52 - 57.15KG (Featherweight)', '57.15 - 61.24KG (Lightweight)',
       '61.24 - 66.68KG (Welterweight)', '66.68 - 72.57KG (Middleweight)',
       '72.57 - 79.38KG (Light-Heavyweight)', '50KM',
       'Team Pursuit (4000M)', 'Figure Riding Individual',
       'Figure Riding Team', 'Ice Hockey', '10M (Rating 1907)',
       '10M (Rating 1919)', '12 Foot Dinghy', '12M (Rating 1907)',
       '12M (Rating 1919)', '18 Foot Dinghy', '30M Sq', '40M Sq',
       '6.5M (Rating 1919)', '6M (Rating 1907)', '6M (Rating 1919)',
       '8M (Rating 1907)', '8M (Rating 1919)',
       '100M Running Deer, Double Shots, Team',
       '300+600M Free Rifle, Team, Prone', '300M Free Rifle, Prone, Team',
       '300M Free Rifle, Standing, Team',
       '50M Small Bore Rifle, Standing, Individual',
       '600M Free Rifle, Prone', '600M Free Rifle, Team',
       '- 60KG, One-Two Hand 3 Events (Featherweight)',
       '+ 82.5KG, One-Two Hand 3 Events (Heavyweight)',
       '60 - 67.5KG, One-Two Hand 3 Events (Lightweight)',
       '67.5 - 75KG, One-Two Hand 3 Events (Middleweight)',
       '75 - 82.5KG, One-Two Hand 3 E. (Light-Heavyweight)',
       '+ 80KG (Heavyweight)', '75 - 80KG (Light-Heavyweight)',
       '+ 82KG (Super Heavyweight)', '75 - 82KG (Light-Heavyweight)',
       'Sidehorse Vault', 'Olympic Class Monotype',
       '400, 600, 800M Free Rifle, Team', '600M Free Rifle, Individual',
       '- 60KG, One-Two Hand 5 Events (Featherweight)',
       '+ 82.5KG, One-Two Hand 5 Events (Heavyweight)',
       '60 - 67.5KG, One-Two Hand 5 Events (Lightweight)',
       '67.5 - 75KG, One-Two Hand 5 Events (Middleweight)',
       '75 - 82.5KG, One-Two Hand 5 E. (Light-Heavyweight)',
       '- 56KG (Bantamweight)', '+ 87KG (Heavyweight)',
       '56 - 61KG (Featherweight)', '61 - 66KG (Lightweight)',
       '66 - 72KG (Welterweight)', '72 - 79KG (Middleweight)',
       '79 - 87KG (Light-Heavyweight)', '- 58KG (Bantamweight)',
       '58 - 62KG (Featherweight)', '62 - 67.5KG (Lightweight)',
       '1KM Pursuit', '12 Foot Dinghy Individual',
       '- 60KG, Total (Featherweight)', '+ 82.5KG, Total (Heavyweight)',
       '60 - 67.5KG, Total (Lightweight)',
       '67.5 - 75KG, Total (Middleweight)',
       '75 - 82.5KG, Total (Light-Heavyweight)',
       '58 - 60KG (Featherweight)', '50KM Walk', '80M Hurdles',
       '50.8 - 54KG (Bantamweight)', '54 - 57.15KG (Featherweight)',
       'Floor Exercises', 'Indian Clubs', 'Tumbling',
       'Two-Person Keelboat Open (Star)', '+ 87KG (Super Heavyweight)',
       'Basketball', 'C-1 1000M (Canoe Single)', 'C-2 10000M',
       'C-2 1000M (Canoe Double)', 'Folding K-1 10000M',
       'Folding K-2 10000M', 'K-1 10000M', 'K-1 1000M (Kayak Single)',
       'K-2 10000M', 'K-2 1000M (Kayak Double)', 'Handball',
       '- 51KG (Flyweight)', '51 - 54KG (Bantamweight)',
       '54 - 58KG (Featherweight)', '58 - 62KG (Lightweight)',
       '62 - 67KG (Welterweight)', '67 - 73KG (Middleweight)',
       '73 - 80KG (Light-Heavyweight)', 'C-1 10000M',
       'K-1 500M (Kayak Single)', 'Dragon', 'Firefly Class',
       'Swallow (Golondrina)', '- 56KG, Total (Bantamweight)',
       '56 - 60KG, Total (Featherweight)', '- 52KG (Flyweight)',
       '52 - 57KG (Bantamweight)', '57 - 63KG (Featherweight)',
       '63 - 67KG (Lightweight)', '67 - 73KG (Welterweight)',
       '73 - 79KG (Middleweight)', '57 - 61KG (Featherweight)',
       '61 - 67KG (Lightweight)', '+ 81KG (Heavyweight)',
       '54 - 57KG (Featherweight)', '57 - 60KG (Lightweight)',
       '60 - 63.5KG (Light-Welterweight)', '63.5 - 67KG (Welterweight)',
       '67 - 71KG (Light-Middleweight)', '71-75KG',
       '75 - 81KG (Light-Heavyweight)', 'Balance Beam',
       'Team, Portable Apparatus', 'Uneven Bars', '5.5M',
       'Single-Handed Dinghy (Finn)',
       '100M Running Deer, Single/Double Shots',
       '50M Rifle 3 Positions (3X40 Shots)',
       '+ 90KG, Total (Heavyweight)',
       '82.5 - 90KG, Total (Middle-Heavyweight)', '100M Butterfly',
       '200M Butterfly', '20KM Walk', 'Sharpie 12M2',
       '4X100M Medley Relay', 'K-1 4X500M', 'K-2 500M (Kayak Double)',
       'Flying Dutchman', '400M Individual Medley',
       'K-4 1000M (Kayak Four)', 'Individual Pursuit',
       '- 68KG (Lightweight)', '68 - 80KG (Middleweight)',
       'Open Category', 'Volleyball', '+ 97KG (Heavyweight)',
       '63 - 70KG (Lightweight)', '70 - 78KG (Welterweight)',
       '78 - 87KG (Middleweight)', '87 - 97KG (Light-Heavyweight)',
       '+ 97KG (Super Heavyweight)', '100M Breaststroke',
       '200M Individual Medley', '800M Freestyle',
       '- 48KG (Light-Flyweight)', '48 - 51KG (Flyweight)',
       'Skeet (125 Targets)', 'Individual Fita Round', '100M Hurdles',
       'C-1 (Canoe Single)', 'C-2 (Canoe Double)', 'K-1 (Kayak Single)',
       '- 63KG (Lightweight)', '+ 93KG (Heavyweight)',
       '63 - 70KG (Half-Middleweight)', '70 - 80KG (Middleweight)',
       '80 - 93KG (Half-Heavyweight)',
       'Fleet/Match Race Keelboat Open (Soling)', 'Tempest',
       '50M Running Target (30+30 Shots)', '- 52KG, Total (Flyweight)',
       '+ 110KG, Total (Super Heavyweight)',
       '52 - 56KG, Total (Bantamweight)',
       '91 - 110KG, Total (Heavyweight)', '+ 100KG (Super Heavyweight)',
       '48 - 52KG (Flyweight)', '57 - 62KG (Featherweight)',
       '62 - 68KG (Lightweight)', '68 - 74KG (Welterweight)',
       '74 - 82KG (Middleweight)', '82 - 90KG (Light-Heavyweight)',
       '90 - 100KG (Heavyweight)', 'C-1 500M (Canoe Single)',
       'C-2 500M (Canoe Double)', 'Pair Without Coxswain (2-)',
       'Quadruple Sculls With Coxswain (4X)',
       'Quadruple Sculls Without Coxswain (4X)',
       '470 - Two Person Dinghy', 'Tornado - Multihull', '- 60 KG',
       '+ 95KG (Heavyweight)', '60 - 65KG (Half-Lightweight)',
       '65 - 71KG (Lightweight)', '71 - 78KG (Half-Middleweight)',
       '78 - 86KG (Middleweight)', '86 - 95KG (Half-Heavyweight)',
       '100 - 110KG, Total (Heavyweight)',
       '90 - 100KG, Total (First-Heavyweight)', 'Duet', 'Solo', '3000M',
       'Heptathlon', '+ 91KG (Super Heavyweight)',
       '81 - 91KG (Heavyweight)', 'K-4 500M (Kayak Four)', 'Points Race',
       'Board (Windglider)', '10M Air Rifle (40 Shots)',
       '10M Air Rifle (60 Shots)', '25M Pistol (30+30 Shots)',
       '50M Rifle 3 Positions (3X20 Shots)', '50M Freestyle', 'Sprint',
       'Board (Division Ii)', '10M Air Pistol (40 Shots)',
       '10M Air Pistol (60 Shots)', '100 - 130KG (Super Heavyweight)',
       'Individual (Fita Olympic Round - 70M)',
       'Team (Fita Olympic Round - 70M)', 'Baseball',
       '- 48KG (Extra-Lightweight)', '+ 72KG (Heavyweight)',
       '48 - 52KG (Half-Lightweight)', '52 - 56KG (Lightweight)',
       '56 - 61KG (Half-Middleweight)', '61 - 66KG (Middleweight)',
       '66 - 72KG (Half-Heavyweight)', 'Coxless Four (4-)',
       'Board (Lechner)', 'Single-Handed Dinghy (Europe)',
       'Cross-Country', 'Group Competition', '+ 100KG (Heavyweight)',
       '60 - 66KG (Half-Lightweight)', '66 - 73KG (Lightweight)',
       '73 - 81KG (Half-Middleweight)', '81 - 90KG (Middleweight)',
       '90 - 100KG (Half-Heavyweight)', 'Lightweight Coxless Four (4-)',
       'Lightweight Double Sculls (2X)', 'Board (Mistral)',
       'Single-Handed Dinghy Open (Laser)', 'Double Trap (120 Targets)',
       'Double Trap (150 Targets)', 'Softball', 'Beach Volleyball',
       '- 54KG, Total (Flyweight)', '+ 108KG, Total (Super Heavyweight)',
       '54 - 59KG, Total (Bantamweight)',
       '59 - 64KG, Total (Featherweight)',
       '64 - 70KG, Total (Lightweight)',
       '70 - 76KG, Total (Middleweight)',
       '76 - 83KG, Total (Light-Heavyweight)',
       '83 - 91KG, Total (Middle-Heavyweight)',
       '91 - 99KG, Total (First-Heavyweight)',
       '99 - 108KG, Total (Heavyweight)',
       'Synchronized Diving 10M Platform',
       'Synchronized Diving 3M Springboard', '20KM Race Walk',
       '500M Time Trial', 'Keirin', 'Madison', 'Olympic Sprint',
       '+ 78KG (Heavyweight)', '52 - 57KG (Lightweight)',
       '57 - 63KG (Half-Middleweight)', '63 - 70KG (Middleweight)',
       '70 - 78KG (Half-Heavyweight)', '49Er - Skiff',
       '10M Running Target (30+30 Shots)', 'Skeet (75 Targets)',
       'Trap (75 Targets)', '- 49 KG', '- 58 KG', '+ 67 KG', '+ 80 KG',
       '49 - 57 KG', '57 - 67 KG', '58 - 68 KG', '68 - 80 KG', '+ 105KG',
       '+ 75KG', '105KG', '48KG', '53KG', '56KG', '58KG', '62KG', '63KG',
       '69KG', '75KG', '77KG', '85KG', '94KG', '48 - 54KG', '54 - 58KG',
       '58 - 63KG', '63 - 69KG', '69 - 76KG', '76 - 85KG', '85 - 97KG',
       '97 - 130KG', '48KG (Light Flywieght)', '60 - 64 KG', '64 - 69 KG',
       '69 - 75 KG', 'Team Sprint', '- 48 KG', 'Star - Keelboat',
       'Yngling - Keelboat', '- 48KG', '- 55KG', '48 - 55KG', '55 - 60KG',
       '55 - 63KG', '60 - 66KG', '63 - 72KG', '66 - 74KG', '74 - 84KG',
       '84 - 96KG', '96 - 120KG', 'Marathon 10KM',
       'Finn - Heavyweight Dinghy', 'Laser - One Person Dinghy',
       'Laser Radial - One Person Dinghy', 'Rs:X - Windsurfer',
       'Synchronized 10M', 'Synchronized 3M', '200M Medley',
       '400M Medley', '4X100M Freestyle', '4X100M Medley',
       '4X200M Freestyle', '3000M Steeple', '+ 91KG', '46 - 49KG',
       '51 KG', '52KG', '57 - 60KG', '60 KG', '75 - 81KG', '75 KG',
       '81 - 91KG', 'C-1 (Single)', 'C-2 (Double)', 'K-1 (Single)',
       'C-1 1000M', 'C-1 200M', 'C-2 1000M', 'K-1 1000M', 'K-1 200M',
       'K-1 500M', 'K-2 1000M', 'K-2 200M', 'K-2 500M', 'K-4 1000M',
       'K-4 500M', 'Individual Road', 'Time Trial', 'Omnium',
       'Team Pursuit', 'Beam', 'Individual All-Around', '+ 100KG',
       '+ 78KG', '48 - 52KG', '52 - 57KG', '57 - 63KG', '63 - 70KG',
       '66 - 73KG', '70 - 78KG', '73 - 81KG', '81 - 90KG', '90 - 100KG',
       'Coxless Four', 'Coxless Pair 2-', 'Double Sculls',
       'Eight With Coxswain', 'Lightweight 4', 'Lightweight Doubles',
       'Quadruple Sculls', 'Single Sculls', '470', 'Elliott 6M', 'Finn',
       'Laser', 'Laser Radial', 'Rs:X', 'Star', '10M Air Pistol',
       '10M Air Rifle', '25M Pistol', '25M Rapid Pistol', '50M Pistol',
       '50M Rifle 3 Positions', '50M Rifle Prone', 'Double Trap 150',
       'Skeet', 'Trap', '+105KG', '+75KG', '-56KG', 'Wf 120KG',
       'Wf 48 KG', 'Wf 55 KG', 'Wf 60 KG', 'Wf 63 KG', 'Wf 66 KG',
       'Wf 72 KG', 'Wf 74 KG', 'Wf 84 KG', 'Wf 96 KG', 'Wg 120 KG',
       'Wg 55 KG', 'Wg 60 KG', 'Wg 66 KG', 'Wg 74 KG', 'Wg 84 KG',
       'Wg 96 KG', 'Military Patrol', 'Four-Man', 'Curling', '500M',
       'Combined (4 Events)', '18KM', 'K90 Individual (70M)', 'Five-Man',
       'Two-Man', 'Alpine Combined', '4X10KM Relay', 'Downhill', 'Slalom',
       'Giant Slalom', '15KM', '30KM Mass Start', '3X5KM Relay', '1000M',
       '5KM', 'K120 Individual (90M)', '4X7.5KM Relay', 'Ice Dancing',
       '4X5KM Relay', 'Super-G', 'K120 Team (90M)', '7.5KM',
       '3000M Relay', '5000M Relay', '10KM Pursuit', '15KM Mass Start',
       '30KM', 'Combined 10KM + 15KM Pursuit',
       'Combined 5KM + 10KM Pursuit', 'Moguls', 'Aerials', 'Giant-Slalom',
       'Half-Pipe', '12.5Km Pursuit', '5Km Pursuit', 'Sprint 1.5KM',
       'Giant Parallel Slalom', '12.5KM Mass Start', '4X6KM Relay',
       'Combined 15 + 15KM Mass Start', 'Combined 7.5 + 7.5Km Mass Start',
       'Individual Sprint', 'Snowboard Cross', 'Super Combined',
       'Ski Cross', 'Individual, Ski Jumping K90 (70M)', 'Sprint K120',
       'Team, 4X5 KM', 'Relay Mix', 'Two-Woman', 'Mixed Relay',
       'Combined 15+15K', 'Combined7.5+7.5', 'Ski Halfpipe',
       'Ski Slopestyle', 'Ind. K90 (70M)', 'Large Hill', 'Normal Hill',
       'Teams', 'K90 Individual', 'Giant Parall.S.', 'Parallel Slalom',
       'Slopestyle'], dtype=object)

In [83]:
Event = df_total["Event"].unique()
Event.sort()
Event

array(['+ 100KG', '+ 100KG (Heavyweight)', '+ 100KG (Super Heavyweight)',
       '+ 105KG', '+ 108KG, Total (Super Heavyweight)',
       '+ 110KG, Total (Super Heavyweight)', '+ 67 KG',
       '+ 71.67KG (Heavyweight)', '+ 72KG (Heavyweight)',
       '+ 73KG (Heavyweight)', '+ 75KG', '+ 78KG', '+ 78KG (Heavyweight)',
       '+ 79.38KG (Heavyweight)', '+ 80 KG', '+ 80KG (Heavyweight)',
       '+ 81KG (Heavyweight)', '+ 82.5KG (Super Heavyweight)',
       '+ 82.5KG, One-Two Hand 3 Events (Heavyweight)',
       '+ 82.5KG, One-Two Hand 5 Events (Heavyweight)',
       '+ 82.5KG, Total (Heavyweight)', '+ 82KG (Super Heavyweight)',
       '+ 87KG (Heavyweight)', '+ 87KG (Super Heavyweight)',
       '+ 90KG, Total (Heavyweight)', '+ 91KG',
       '+ 91KG (Super Heavyweight)', '+ 93KG (Heavyweight)',
       '+ 93KG (Super Heavyweight)', '+ 95KG (Heavyweight)',
       '+ 97KG (Heavyweight)', '+ 97KG (Super Heavyweight)', '+105KG',
       '+75KG', '- 47.63KG (Flyweight)', '- 47.6KG (Light-Flyweight)',
       '- 48 KG', '- 48KG', '- 48KG (Extra-Lightweight)',
       '- 48KG (Light-Flyweight)', '- 49 KG', '- 50.8KG (Flyweight)',
       '- 51KG (Flyweight)', '- 52.62KG (Bantamweight)',
       '- 52KG (Flyweight)', '- 52KG, Total (Flyweight)',
       '- 54KG (Bantamweight)', '- 54KG, Total (Flyweight)', '- 55KG',
       '- 56KG (Bantamweight)', '- 56KG, Total (Bantamweight)', '- 58 KG',
       '- 58KG (Bantamweight)', '- 60 KG', '- 60KG (Featherweight)',
       '- 60KG, One-Two Hand 3 Events (Featherweight)',
       '- 60KG, One-Two Hand 5 Events (Featherweight)',
       '- 60KG, Total (Featherweight)', '- 63KG (Lightweight)',
       '- 66.6KG (Lightweight)', '- 68KG (Lightweight)', '-56KG',
       '0.5-1T', '1 Mile (1609.3M)', '1/2 Mile (804.7M)',
       '1/3 Mile (536.5M)', '1/4 Mile (402.3M)', '10-20T',
       '100 - 110KG, Total (Heavyweight)',
       '100 - 130KG (Super Heavyweight)', '10000M', '10000M Walk',
       '1000M', '1000Y Free Rifle, Prone', '100KM', '100M',
       '100M Backstroke', '100M Breaststroke', '100M Butterfly',
       '100M Freestyle', '100M Freestyle For Sailors', '100M Hurdles',
       '100M Running Deer, Double Shots',
       '100M Running Deer, Double Shots, Team',
       '100M Running Deer, Single Shots',
       '100M Running Deer, Single Shots, Team',
       '100M Running Deer, Single/Double Shots', '105KG', '10KM',
       '10KM Pursuit', '10M', '10M (Rating 1907)', '10M (Rating 1919)',
       '10M Air Pistol', '10M Air Pistol (40 Shots)',
       '10M Air Pistol (60 Shots)', '10M Air Rifle',
       '10M Air Rifle (40 Shots)', '10M Air Rifle (60 Shots)',
       '10M Platform', '10M Running Target (30+30 Shots)',
       '10Miles Walk (16093M)', '110M Hurdles', '12 Foot Dinghy',
       '12 Foot Dinghy Individual', '12-Hour Race', '12.5KM Mass Start',
       '12.5Km Pursuit', '1200M Freestyle', '12M', '12M (Rating 1907)',
       '12M (Rating 1919)', '1500M', '1500M Freestyle', '15KM',
       '15KM Mass Start', '18 Foot Dinghy', '18KM',
       '1980 Yards Pursuit, Team', '1KM Pursuit', '1KM Time Trial',
       '2 Miles (3.218KM)', '2000M Tandem', '200M', '200M Backstroke',
       '200M Breaststroke', '200M Butterfly', '200M Freestyle',
       '200M Hurdles', '200M Individual Medley', '200M Medley',
       '200M Obstacle Event', '200M Team Swimming', '20KM',
       '20KM Race Walk', '20KM Walk', '25 Kilometres',
       '25 Miles (40.232KM)', '25M Army Pistol', '25M Pistol',
       '25M Pistol (30+30 Shots)', '25M Rapid Fire Pistol (60 Shots)',
       '25M Rapid Pistol', '25M Small Bore Rifle, Team',
       '25M Small Rifle', '25Y Small Bore Rifle, Disappearing Target',
       '25Y Small Bore Rifle, Moving Target', '3-10T',
       '300+600M Free Rifle, Team, Prone', '3000M', '3000M Relay',
       '3000M Steeple', '3000M Steeplechase', '3000M Team', '3000M Walk',
       '300M Free Rifle 3 Positions (3X40 Shots)',
       '300M Free Rifle, Prone, Team', '300M Free Rifle, Standing, Team',
       '30KM', '30KM Mass Start', '30M Army Pistol, Team', '30M Sq',
       '3200M Steeplechase', '3500M Walk', '3M Springboard',
       '3Miles Team (4828M)', '3X5KM Relay',
       '400, 600, 800M Free Rifle, Team', '4000M Freestyle',
       '4000M Steeplechase', '400M', '400M Breaststroke',
       '400M Freestyle', '400M Hurdles', '400M Individual Medley',
       '400M Medley', '40M Sq', '46 - 49KG', '47.6 - 52.16KG (Flyweight)',
       '47.63 - 52.16KG (Bantamweight)', '470', '470 - Two Person Dinghy',
       '48 - 51KG (Flyweight)', '48 - 52KG', '48 - 52KG (Flyweight)',
       '48 - 52KG (Half-Lightweight)', '48 - 54KG', '48 - 55KG', '48KG',
       '48KG (Light Flywieght)', '49 - 57 KG', '49Er - Skiff',
       '4Miles Team', '4X100M Freestyle', '4X100M Freestyle Relay',
       '4X100M Medley', '4X100M Medley Relay', '4X100M Relay',
       '4X10KM Relay', '4X200M Freestyle', '4X200M Freestyle Relay',
       '4X400M Relay', '4X50Y Freestyle Relay', '4X5KM Relay',
       '4X6KM Relay', '4X7.5KM Relay', '5 Miles (8.046KM)',
       '5 Miles (8047M)', '5.5M', '50+100Y Small Bore Rifle, Team',
       '50.8 - 53.52KG (Bantamweight)', '50.8 - 54KG (Bantamweight)',
       '5000M', '5000M Relay', '5000M Team', '500M', '500M Time Trial',
       '50KM', '50KM Walk', '50M Army Pistol, Team', '50M Freestyle',
       '50M Pistol', '50M Pistol (60 Shots)', '50M Rifle 3 Positions',
       '50M Rifle 3 Positions (3X20 Shots)',
       '50M Rifle 3 Positions (3X40 Shots)', '50M Rifle Prone',
       '50M Rifle Prone (60 Shots)', '50M Running Target (30+30 Shots)',
       '50M Small Bore Rifle, Standing, Individual',
       '50M Small Bore Rifle, Team', '50Y Army Pistol, Team',
       '50Y Freestyle (45.72M)', '51 - 54KG (Bantamweight)', '51 KG',
       '52 - 56KG (Lightweight)', '52 - 56KG, Total (Bantamweight)',
       '52 - 57KG', '52 - 57KG (Bantamweight)', '52 - 57KG (Lightweight)',
       '52.16 - 56.7KG (Bantamweight)', '52.16 - 56.7KG (Featherweight)',
       '52.62 - 57.15KG (Featherweight)', '52KG',
       '53.52 - 57.15KG (Featherweight)', '53KG',
       '54 - 57.15KG (Featherweight)', '54 - 57KG (Featherweight)',
       '54 - 58KG', '54 - 58KG (Featherweight)',
       '54 - 59KG, Total (Bantamweight)', '54 - 60.3KG (Featherweight)',
       '55 - 60KG', '55 - 63KG', '56 - 60KG, Total (Featherweight)',
       '56 - 61KG (Featherweight)', '56 - 61KG (Half-Middleweight)',
       '56.7 - 61.23KG (Featherweight)', '56.7 - 61.24KG (Lightweight)',
       '56KG', '56LB Weight Throw (25.4KG)', '57 - 60KG',
       '57 - 60KG (Lightweight)', '57 - 61KG (Featherweight)',
       '57 - 62KG (Featherweight)', '57 - 63KG',
       '57 - 63KG (Featherweight)', '57 - 63KG (Half-Middleweight)',
       '57 - 67 KG', '57.15 - 61.24KG (Lightweight)',
       '57.15 - 63.5KG (Lightweight)', '58 - 60KG (Featherweight)',
       '58 - 62KG (Featherweight)', '58 - 62KG (Lightweight)',
       '58 - 63KG', '58 - 68 KG', '58KG',
       '59 - 64KG, Total (Featherweight)', '5KM', '5Km Pursuit',
       '6.5M (Rating 1919)', '60 - 63.5KG (Light-Welterweight)',
       '60 - 64 KG', '60 - 65KG (Half-Lightweight)', '60 - 66KG',
       '60 - 66KG (Half-Lightweight)', '60 - 67.5KG (Lightweight)',
       '60 - 67.5KG, One-Two Hand 3 Events (Lightweight)',
       '60 - 67.5KG, One-Two Hand 5 Events (Lightweight)',
       '60 - 67.5KG, Total (Lightweight)', '60 KG',
       '60.3 - 66.6KG (Lightweight)', '600M Free Rifle',
       '600M Free Rifle, Individual', '600M Free Rifle, Prone',
       '600M Free Rifle, Team', '60M', '61 - 66KG (Lightweight)',
       '61 - 66KG (Middleweight)', '61 - 67KG (Lightweight)',
       '61.23 - 65.77KG (Lightweight)', '61.24 - 65.77KG (Welterweight)',
       '61.24 - 66.68KG (Welterweight)', '62 - 67.5KG (Lightweight)',
       '62 - 67KG (Welterweight)', '62 - 68KG (Lightweight)', '62KG',
       '63 - 67KG (Lightweight)', '63 - 69KG', '63 - 70KG',
       '63 - 70KG (Half-Middleweight)', '63 - 70KG (Lightweight)',
       '63 - 70KG (Middleweight)', '63 - 72KG',
       '63.5 - 67KG (Welterweight)', '63.5 - 71.67KG (Middleweight)',
       '63KG', '64 - 69 KG', '64 - 70KG, Total (Lightweight)',
       '65 - 71KG (Lightweight)', '65.77 - 71.67KG (Middleweight)',
       '65.77 - 71.67KG (Welterweight)', '66 - 72KG (Half-Heavyweight)',
       '66 - 72KG (Welterweight)', '66 - 73KG', '66 - 73KG (Lightweight)',
       '66 - 74KG', '66.6 - 73KG (Middleweight)',
       '66.68 - 72.57KG (Middleweight)', '67 - 71KG (Light-Middleweight)',
       '67 - 73KG (Middleweight)', '67 - 73KG (Welterweight)',
       '67.5 - 75KG (Middleweight)',
       '67.5 - 75KG, One-Two Hand 3 Events (Middleweight)',
       '67.5 - 75KG, One-Two Hand 5 Events (Middleweight)',
       '67.5 - 75KG, Total (Middleweight)', '68 - 74KG (Welterweight)',
       '68 - 80 KG', '68 - 80KG (Middleweight)', '69 - 75 KG',
       '69 - 76KG', '69KG', '6M', '6M (Rating 1907)', '6M (Rating 1919)',
       '7.5KM', '70 - 76KG, Total (Middleweight)', '70 - 78KG',
       '70 - 78KG (Half-Heavyweight)', '70 - 78KG (Welterweight)',
       '70 - 80KG (Middleweight)', '71 - 78KG (Half-Middleweight)',
       '71-75KG', '72 - 79KG (Middleweight)',
       '72.57 - 79.38KG (Light-Heavyweight)', '73 - 79KG (Middleweight)',
       '73 - 80KG (Light-Heavyweight)', '73 - 81KG',
       '73 - 81KG (Half-Middleweight)', '73 - 93KG (Light-Heavyweight)',
       '74 - 82KG (Middleweight)', '74 - 84KG',
       '75 - 80KG (Light-Heavyweight)', '75 - 81KG',
       '75 - 81KG (Light-Heavyweight)', '75 - 82.5KG (Light-Heavyweight)',
       '75 - 82.5KG, One-Two Hand 3 E. (Light-Heavyweight)',
       '75 - 82.5KG, One-Two Hand 5 E. (Light-Heavyweight)',
       '75 - 82.5KG, Total (Light-Heavyweight)',
       '75 - 82KG (Light-Heavyweight)', '75 KG', '75KG',
       '76 - 83KG, Total (Light-Heavyweight)', '76 - 85KG', '77KG',
       '78 - 86KG (Middleweight)', '78 - 87KG (Middleweight)',
       '79 - 87KG (Light-Heavyweight)', '7M',
       '80 - 93KG (Half-Heavyweight)', '800M', '800M Freestyle',
       '80M Hurdles', '81 - 90KG', '81 - 90KG (Middleweight)',
       '81 - 91KG', '81 - 91KG (Heavyweight)',
       '82 - 90KG (Light-Heavyweight)',
       '82.5 - 90KG, Total (Middle-Heavyweight)',
       '83 - 91KG, Total (Middle-Heavyweight)', '84 - 96KG', '85 - 97KG',
       '85KG', '86 - 95KG (Half-Heavyweight)',
       '87 - 97KG (Light-Heavyweight)', '880Y Freestyle (804.66M)', '8M',
       '8M (Rating 1907)', '8M (Rating 1919)', '8M Class C', '90 - 100KG',
       '90 - 100KG (Half-Heavyweight)', '90 - 100KG (Heavyweight)',
       '90 - 100KG, Total (First-Heavyweight)',
       '91 - 110KG, Total (Heavyweight)',
       '91 - 99KG, Total (First-Heavyweight)', '94KG', '96 - 120KG',
       '97 - 130KG', '99 - 108KG, Total (Heavyweight)', 'Aerials',
       'All-Around Dumbbell Contest', 'Alpine Combined',
       'Army Rifle, 200M', 'Army Rifle, 300M',
       'Army Rifle, 300M, 3 Positions', 'Army Rifle, 300M, Kneeling',
       'Army Rifle, 300M, Prone', 'Army Rifle, 300M, Standing',
       'Au Chapelet, 33M', 'Au Chapelet, 50M', 'Au Cordon Doré, 33M',
       'Au Cordon Doré, 50M', 'Balance Beam', 'Baseball', 'Basketball',
       'Beach Volleyball', 'Beam', 'Board (Division Ii)',
       'Board (Lechner)', 'Board (Mistral)', 'Board (Windglider)',
       'C-1 (Canoe Single)', 'C-1 (Single)', 'C-1 10000M', 'C-1 1000M',
       'C-1 1000M (Canoe Single)', 'C-1 200M', 'C-1 500M (Canoe Single)',
       'C-2 (Canoe Double)', 'C-2 (Double)', 'C-2 10000M', 'C-2 1000M',
       'C-2 1000M (Canoe Double)', 'C-2 500M (Canoe Double)',
       'Cesta Punta', 'Class B Up To 60 Feet', 'Clay Pigeons, Team',
       'Club Swinging', 'Combined (4 Events)',
       'Combined 10KM + 15KM Pursuit', 'Combined 15 + 15KM Mass Start',
       'Combined 15+15K', 'Combined 3 Events', 'Combined 4 Events',
       'Combined 5KM + 10KM Pursuit', 'Combined 7.5 + 7.5Km Mass Start',
       'Combined7.5+7.5', 'Continental Style 50M',
       'Coxed Fours Jugriggers', 'Coxless Four', 'Coxless Four (4-)',
       'Coxless Pair (2-)', 'Coxless Pair 2-', 'Cricket',
       'Cross Country Individual', 'Cross Country Team', 'Cross-Country',
       'Curling', 'Decathlon', 'Discus Throw',
       'Discus Throw Ancient Style', 'Discus Throw, Both Hands', 'Double',
       'Double American Round (60Y - 50Y - 40Y)',
       'Double Columbia Round (50Y - 40Y - 30Y)',
       'Double National Round (60Y - 50Y)', 'Double Sculls',
       'Double Sculls (2X)', 'Double Trap (120 Targets)',
       'Double Trap (150 Targets)', 'Double Trap 150',
       'Double York Round (100Y - 80Y - 60Y)', 'Doubles',
       'Doubles Indoor', 'Downhill', 'Dragon', 'Duet',
       'Eight With Coxswain', 'Eight With Coxswain (8+)', 'Elliott 6M',
       'Figure Riding Individual', 'Figure Riding Team', 'Finn',
       'Finn - Heavyweight Dinghy', 'Firefly Class', 'Five-Man',
       'Fixed Bird Target Large Birds',
       'Fixed Bird Target Large Birds Teams',
       'Fixed Bird Target Small Bird, Teams',
       'Fixed Bird Target Small Birds',
       'Fleet/Match Race Keelboat Open (Soling)', 'Floor Exercises',
       'Flying Dutchman', 'Foil Individual', 'Foil Team', 'Foil, Masters',
       'Folding K-1 10000M', 'Folding K-2 10000M', 'Football',
       'Four Without Coxswain (4-)', 'Four-Man',
       'Four-Oared Shell With Coxswain (4-)', 'Free Rifle, Team',
       'Giant Parall.S.', 'Giant Parallel Slalom', 'Giant Slalom',
       'Giant-Slalom', 'Group Competition', 'Half-Pipe', 'Hammer Throw',
       'Handball', 'Heavyweight - One Hand Lift',
       'Heavyweight - Two Hand Lift', 'Heptathlon', 'High Jump',
       'High Jump, Standing', 'Hockey', 'Horizontal Bar', 'Ice Dancing',
       'Ice Hockey', 'Ind. K90 (70M)', 'Indian Clubs', 'Individual',
       'Individual (Fita Olympic Round - 70M)', 'Individual 1 Ball',
       'Individual 2 Balls', 'Individual All-Around',
       'Individual All-Round', 'Individual Competition',
       'Individual Fita Round', 'Individual Pursuit', 'Individual Road',
       'Individual Road Race', 'Individual Sprint',
       'Individual Time Trial', 'Individual, Ski Jumping K90 (70M)',
       'Javelin Throw', 'Javelin Throw Freestyle',
       'Javelin Throw, Both Hands', 'K-1 (Kayak Single)', 'K-1 (Single)',
       'K-1 10000M', 'K-1 1000M', 'K-1 1000M (Kayak Single)', 'K-1 200M',
       'K-1 4X500M', 'K-1 500M', 'K-1 500M (Kayak Single)', 'K-2 10000M',
       'K-2 1000M', 'K-2 1000M (Kayak Double)', 'K-2 200M', 'K-2 500M',
       'K-2 500M (Kayak Double)', 'K-4 1000M', 'K-4 1000M (Kayak Four)',
       'K-4 500M', 'K-4 500M (Kayak Four)', 'K120 Individual (90M)',
       'K120 Team (90M)', 'K90 Individual', 'K90 Individual (70M)',
       'Keirin', 'Lacrosse', 'Large Hill', 'Laser',
       'Laser - One Person Dinghy', 'Laser Radial',
       'Laser Radial - One Person Dinghy', 'Lightweight 4',
       'Lightweight Coxless Four (4-)', 'Lightweight Double Sculls (2X)',
       'Lightweight Doubles', 'Long Jump', 'Long Jump Individual',
       'Long Jump, Standing', 'Madison', 'Marathon', 'Marathon 10KM',
       'Military Patrol', 'Mixed Doubles', 'Mixed Doubles Indoor',
       'Mixed Relay', 'Moguls', 'Moving Bird Target 28M Teams',
       'Moving Bird Target 33M Teams', 'Moving Bird Target 50M Teams',
       'Moving Bird Target, 28M', 'Moving Bird Target, 33M',
       'Moving Bird Target, 50M', 'National Round (60Y - 50Y)',
       'Normal Hill', 'Olympic Class Monotype', 'Olympic Sprint',
       'Omnium', 'One Lap (660Y) Sprint', 'Open Category', 'Open Class',
       'Open Class A', 'Open Event', 'Pair Without Coxswain (2-)',
       'Pair-Oared Shell With Coxswain (2+)', 'Pairs', 'Parallel Bars',
       'Parallel Slalom', 'Pentathlon', 'Plain High Diving',
       'Plunge For Distance', 'Points Race', 'Pole Vault', 'Polo',
       'Pommel Horse', 'Quadruple Sculls',
       'Quadruple Sculls With Coxswain (4X)',
       'Quadruple Sculls Without Coxswain (4X)', 'Relay Mix',
       'Rifle, Team', 'Rings', 'Rope Climbing', 'Rs:X',
       'Rs:X - Windsurfer', 'Rugby', 'Sabre Individual', 'Sabre Team',
       'Sabre, Masters', 'Sharpie 12M2', 'Shot Put',
       'Shot Put, Both Hands', 'Sidehorse Vault', 'Single Sculls',
       'Single Sculls (1X)', 'Single-Handed Dinghy (Europe)',
       'Single-Handed Dinghy (Finn)', 'Single-Handed Dinghy Open (Laser)',
       'Singles', 'Singles Indoor', 'Skeet', 'Skeet (125 Targets)',
       'Skeet (75 Targets)', 'Ski Cross', 'Ski Halfpipe',
       'Ski Slopestyle', 'Slalom', 'Slopestyle', 'Snowboard Cross',
       'Softball', 'Solo', 'Special Figures', 'Sprint', 'Sprint 1.5KM',
       'Sprint Indivual', 'Sprint K120', 'Star', 'Star - Keelboat',
       'Stick, Single', 'Super Combined', 'Super-G',
       'Sur La Perche À La Herse', 'Sur La Perche À La Pyramide',
       'Swallow (Golondrina)', 'Synchronized 10M', 'Synchronized 3M',
       'Synchronized Diving 10M Platform',
       'Synchronized Diving 3M Springboard', 'Team',
       'Team (Fita Olympic Round - 70M)', 'Team Competition',
       'Team Pursuit', 'Team Pursuit (4000M)', 'Team Round 60Y',
       'Team Sprint', 'Team Time Trial', 'Team, 4X5 KM',
       'Team, Free System', 'Team, Horizontal Bar', 'Team, Parallel Bars',
       'Team, Portable Apparatus', 'Team, Swedish System', 'Teams',
       'Teams Fita Round', 'Tempest', 'Time Trial', 'Tornado - Multihull',
       'Trap', 'Trap (125 Targets)', 'Trap (75 Targets)',
       'Triathlon (Long Jump / Shot Put / 100 Yards)', 'Triple Jump',
       'Triple Jump, Standing', 'Tug Of War', 'Tumbling', 'Two-Man',
       'Two-Person Keelboat Open (Star)', 'Two-Woman',
       'Underwater Swimming', 'Uneven Bars', 'Vault', 'Volleyball',
       'Water Polo', 'Wf 120KG', 'Wf 48 KG', 'Wf 55 KG', 'Wf 60 KG',
       'Wf 63 KG', 'Wf 66 KG', 'Wf 72 KG', 'Wf 74 KG', 'Wf 84 KG',
       'Wf 96 KG', 'Wg 120 KG', 'Wg 55 KG', 'Wg 60 KG', 'Wg 66 KG',
       'Wg 74 KG', 'Wg 84 KG', 'Wg 96 KG', 'Yngling - Keelboat',
       'York Round (100Y - 80Y - 60Y)', 'Épée Individual', 'Épée Team',
       'Épée, Amateurs And Masters', 'Épée, Masters'], dtype=object)

In [35]:
df_total["Discipline"].unique()

array(['Swimming', 'Athletics', 'Cycling Road', 'Cycling Track',
       'Fencing', 'Artistic G.', 'Shooting', 'Tennis', 'Weightlifting',
       'Wrestling Gre-R', 'Water polo', 'Archery', 'Basque Pelota',
       'Cricket', 'Croquet', 'Jumping', 'Football', 'Golf', 'Polo',
       'Rowing', 'Rugby', 'Sailing', 'Tug of War', 'Diving', 'Boxing',
       'Lacrosse', 'Roque', 'Wrestling Free.', 'Hockey', 'Jeu de Paume',
       'Rackets', 'Figure skating', 'Water Motorspor', 'Dressage',
       'Eventing', 'Modern Pentath.', 'Vaulting', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak F', 'Handball', 'Judo', 'Volleyball',
       'Canoe / Kayak S', 'Synchronized S.', 'Rhythmic G.',
       'Table Tennis', 'Badminton', 'Baseball', 'Mountain Bike',
       'Softball', 'Beach volley.', 'Trampoline', 'Taekwondo',
       'Triathlon', 'BMX', 'Marathon swimming', 'Synchronized Swimming',
       'Water Polo', 'Canoe Slalom', 'Canoe Sprint', 'Cycling BMX',
       'Gymnastics Artistic', 'Gymnastics Rhythmic', 'Modern Pentathlon',
       'Beach Volleyball', 'Wrestling Freestyle', 'Biathlon', 'Bobsleigh',
       'Curling', 'Speed skating', 'Cross Country Skiing',
       'Nordic Combined', 'Ski Jumping', 'Skeleton', 'Alpine Skiing',
       'Luge', 'Short Track Speed Skating', 'Freestyle Skiing',
       'Snowboard'], dtype=object)

In [37]:
df_total["Discipline"] = df_total["Discipline"].str.lower()#make all instances small letter to easily manage

In [39]:
Discipline = df_total["Discipline"].unique()
Discipline.sort()
Discipline

array(['alpine skiing', 'archery', 'artistic g.', 'athletics',
       'badminton', 'baseball', 'basketball', 'basque pelota',
       'beach volley.', 'beach volleyball', 'biathlon', 'bmx',
       'bobsleigh', 'boxing', 'canoe / kayak f', 'canoe / kayak s',
       'canoe slalom', 'canoe sprint', 'cricket', 'croquet',
       'cross country skiing', 'curling', 'cycling bmx', 'cycling road',
       'cycling track', 'diving', 'dressage', 'eventing', 'fencing',
       'figure skating', 'football', 'freestyle skiing', 'golf',
       'gymnastics artistic', 'gymnastics rhythmic', 'handball', 'hockey',
       'ice hockey', 'jeu de paume', 'judo', 'jumping', 'lacrosse',
       'luge', 'marathon swimming', 'modern pentath.',
       'modern pentathlon', 'mountain bike', 'nordic combined', 'polo',
       'rackets', 'rhythmic g.', 'roque', 'rowing', 'rugby', 'sailing',
       'shooting', 'short track speed skating', 'skeleton', 'ski jumping',
       'snowboard', 'softball', 'speed skating', 'swimming',
       'synchronized s.', 'synchronized swimming', 'table tennis',
       'taekwondo', 'tennis', 'trampoline', 'triathlon', 'tug of war',
       'vaulting', 'volleyball', 'water motorspor', 'water polo',
       'weightlifting', 'wrestling free.', 'wrestling freestyle',
       'wrestling gre-r'], dtype=object)

In [40]:
df_total = df_total.replace('beach volley.', 'beach volleyball')
df_total = df_total.replace('bmx', 'cycling bmx')
df_total = df_total.replace('artistic g.', 'gymnastics artistic')
df_total = df_total.replace('rhythmic g.', 'gymnastics rhythmic')
df_total = df_total.replace('modern pentath.', 'modern pentathlon')
df_total = df_total.replace('synchronized s.', 'synchronized swimming')
df_total = df_total.replace('wrestling free.', 'wrestling freestyle')
df_total = df_total.replace('wrestling gre-r', 'wrestling greco roman')

In [41]:
x=df_total.drop(["Medal"],axis=1) #separating the dependent and independent variable columns

In [42]:
x.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       0
Gender        0
Event         0
season        0
dtype: int64

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
lb=LabelEncoder()

In [45]:
for col in x.columns:
    x[col] = lb.fit_transform(x[col])#transforming all the categorical to numerical data

In [46]:
x

       Year  City  Sport  Discipline  Athlete  Country  Gender  Event  season
0         0     3      0          57     8539       58       0     79       0
1         0     3      0          57     9245        7       0     79       0
2         0     3      0          57     5572       52       0     80       0
3         0     3      0          57    14482       52       0     80       0
4         0     3      0          57     3658       52       0     80       0
...     ...   ...    ...         ...      ...      ...     ...    ...     ...
36930    32    32     37          54    10710       47       1    654       1
36931    32    32     37          54      523      140       1    654       1
36932    32    32     37          54    14488       21       1    655       1
36933    32    32     37          54    20276       31       1    655       1
36934    32    32     37          54    23676       44       1    655       1

[36931 rows x 9 columns]

In [47]:
lb2 = LabelEncoder()

In [48]:
y_clean = lb2.fit_transform(df_total.iloc[:,-2])

In [49]:
from sklearn.model_selection import train_test_split

In [285]:
x_train,x_test,y_train,y_test = train_test_split(x,y_clean,test_size=0.2,random_state =50)

In [51]:
from sklearn.metrics import confusion_matrix # TOOLS TO CHECK ACCURACY
from sklearn import metrics

NOW LET'S TRY DIFFERENT ALGORITHMS THAT SUPPORT MULTICLASS CLASSIFICATION

# LOGISTIC REGRESSION

In [52]:
from sklearn.linear_model import LogisticRegression

In [164]:
classifier_log = LogisticRegression(random_state =0,max_iter =200)

In [165]:
classifier_log.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=200, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [166]:
y_pred_log = classifier_log.predict(x_test)

In [167]:
confusion_matrix(y_test,y_pred_log)

array([[1016, 1071,  388],
       [ 881, 1289,  366],
       [ 928, 1087,  361]], dtype=int64)

In [168]:
metrics.f1_score(y_test,y_pred_log,average="macro")

0.34036709061111114

# K NEIGHBORS CLASSIFIER

In [169]:
from sklearn.neighbors import KNeighborsClassifier

In [170]:
classifier_KNN = KNeighborsClassifier()

In [171]:
classifier_KNN.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [172]:
y_pred_KNN = classifier_KNN.predict(x_test)

In [173]:
confusion_matrix(y_test,y_pred_KNN)

array([[1168,  751,  556],
       [1018, 1049,  469],
       [1046,  758,  572]], dtype=int64)

True positives are the values on the diagonal

In [174]:
metrics.f1_score(y_test,y_pred_KNN,average="macro") # THE CLOSER THE F1 SCORE TO 1, THE MORE SIGNIFICANT THE MODEL

0.3697075305345992

# NAIVE BAYES CLASSIFIER

In [175]:
from sklearn.naive_bayes import GaussianNB

In [176]:
classifier_naive = GaussianNB(var_smoothing=1e-09)

In [177]:
classifier_naive.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [178]:
y_pred_naive = classifier_naive.predict(x_test)

In [179]:
confusion_matrix(y_test,y_pred_naive)

array([[1173,  925,  377],
       [1058, 1108,  370],
       [1091,  903,  382]], dtype=int64)

In [180]:
metrics.f1_score(y_test,y_pred_naive,average="macro")

0.3425457215806438

# DECISION TREE CLASSIFIER

In [181]:
from sklearn.tree import DecisionTreeClassifier

In [182]:
classifier_dectree = DecisionTreeClassifier(criterion = "entropy",random_state =0)

In [183]:
classifier_dectree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [184]:
y_pred_dectree = classifier_dectree.predict(x_test)

In [185]:
confusion_matrix(y_test,y_pred_dectree)

array([[1706,  374,  395],
       [ 389, 1726,  421],
       [ 383,  380, 1613]], dtype=int64)

In [186]:
metrics.f1_score(y_test,y_pred_dectree,average="macro")

0.6828190570680198

In [311]:
print(metrics.classification_report(y_test,y_pred_dectree))

              precision    recall  f1-score   support

           0       0.69      0.69      0.69      2475
           1       0.70      0.68      0.69      2536
           2       0.66      0.68      0.67      2376

   micro avg       0.68      0.68      0.68      7387
   macro avg       0.68      0.68      0.68      7387
weighted avg       0.68      0.68      0.68      7387

# RANDOM FOREST CLASSIFIER

In [187]:
from sklearn.ensemble import RandomForestClassifier

In [188]:
classifier_forest = RandomForestClassifier(criterion="entropy",max_depth=None, max_features= 'log2',min_samples_leaf= 1, min_samples_split= 2,n_estimators=500, warm_start = True)

In [295]:
classifier_forest.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='log2', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=None, verbose=0, warm_start=True)

In [296]:
y_pred_forest = classifier_forest.predict(x_test)

In [297]:
random_forest_score = metrics.f1_score(y_test,y_pred_forest,average="macro")
random_forest_score

0.7030943081083395

In [192]:
confusion_matrix(y_test,y_pred_forest)

array([[1772,  319,  384],
       [ 382, 1768,  386],
       [ 347,  374, 1655]], dtype=int64)

In [312]:
print(metrics.classification_report(y_test,y_pred_forest))

              precision    recall  f1-score   support

           0       0.71      0.72      0.71      2475
           1       0.72      0.70      0.71      2536
           2       0.68      0.70      0.69      2376

   micro avg       0.70      0.70      0.70      7387
   macro avg       0.70      0.70      0.70      7387
weighted avg       0.70      0.70      0.70      7387

THIS IS ONE OF OUR TOPS, SO LET'S CHECK ACCURACY AGAIN WITH CROSS VALIDATION

In [299]:
scoring=['precision_macro','recall_macro','f1_macro']
accuracies_forest = cross_validate(classifier_forest, x_train,y_train,scoring=scoring,cv=10)

In [307]:
random_forest_validated = accuracies_forest["test_f1_macro"].mean()
random_forest_validated

0.6848057834401488

# GRADIENT BOOSTING CLASSIFIER

In [193]:
from sklearn.ensemble import GradientBoostingClassifier

In [194]:
classifier_GBC = GradientBoostingClassifier(random_state=2)
classifier_GBC.fit(x_train,y_train)
y_pred_GBC = classifier_GBC.predict(x_test)

In [195]:
metrics.f1_score(y_test,y_pred_GBC,average="macro")

0.4357335338324047

In [196]:
metrics.confusion_matrix(y_test,y_pred_GBC)

array([[1218,  674,  583],
       [ 748, 1231,  557],
       [ 862,  715,  799]], dtype=int64)

# XGB CLASSIFIER

In [89]:
from xgboost import XGBClassifier

In [197]:
classifier_XGB = XGBClassifier(random_state =3)
classifier_XGB.fit(x_train,y_train)
y_pred_XGB = classifier_XGB.predict(x_test)

[13:13:26] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [198]:
metrics.f1_score(y_test,y_pred_XGB,average="macro")

0.5788786837378824

In [199]:
metrics.confusion_matrix(y_test,y_pred_XGB)

array([[1452,  484,  539],
       [ 470, 1583,  483],
       [ 563,  562, 1251]], dtype=int64)

# BAGGING CLASSIFIER

In [93]:
from sklearn.ensemble import BaggingClassifier

In [286]:
classifier_BC = BaggingClassifier(n_jobs=-1,random_state =3,n_estimators=150,base_estimator = DecisionTreeClassifier(criterion="entropy",max_depth = None, min_samples_leaf= 1, min_samples_split= 2))
classifier_BC.fit(x_train,y_train)
y_pred_BC = classifier_BC.predict(x_test)

In [287]:
bagging_classifier_score =metrics.f1_score(y_test,y_pred_BC,average="macro")
bagging_classifier_score

0.7165867882724322

In [288]:
metrics.confusion_matrix(y_test,y_pred_BC)

array([[1798,  317,  360],
       [ 361, 1820,  355],
       [ 348,  351, 1677]], dtype=int64)

In [313]:
print(metrics.classification_report(y_test,y_pred_BC))

              precision    recall  f1-score   support

           0       0.72      0.73      0.72      2475
           1       0.73      0.72      0.72      2536
           2       0.70      0.71      0.70      2376

   micro avg       0.72      0.72      0.72      7387
   macro avg       0.72      0.72      0.72      7387
weighted avg       0.72      0.72      0.72      7387

THIS IS ONE OF OUR TOPS, SO LET'S CHECK ACCURACY AGAIN WITH CROSS VALIDATION

In [255]:
from sklearn.model_selection import cross_validate

In [ ]:
scoring=['precision_macro','recall_macro','f1_macro']

In [293]:
accuracies_bag = cross_validate(classifier_BC, x_train,y_train,scoring=scoring,cv=10)

In [309]:
bagging_classifier_validated = accuracies_bag["test_f1_macro"].mean()
bagging_classifier_validated

0.6972993189862835

# EXTRA TREE CLASSIFIER

In [147]:
from sklearn.tree import ExtraTreeClassifier

In [200]:
classifier_ETC = ExtraTreeClassifier(random_state =3)
classifier_ETC.fit(x_train,y_train)
y_pred_ETC = classifier_ETC.predict(x_test)

In [201]:
metrics.f1_score(y_test,y_pred_ETC,average="macro")

0.6153014735681133

In [202]:
metrics.confusion_matrix(y_test,y_pred_ETC)

array([[1488,  462,  525],
       [ 460, 1600,  476],
       [ 438,  479, 1459]], dtype=int64)

# LET'S OPTIMIZE DECISION TREE

In [116]:
from sklearn.model_selection import GridSearchCV

In [150]:
classifier_dtree_grid = DecisionTreeClassifier(criterion="entropy")

In [151]:
parameters_dtree = [{"max_depth" : [None,1,2,5,7,9],"min_samples_leaf":[1,2,4],"min_samples_split":[2,4,6,8]}]

grid_search_dtree = GridSearchCV(estimator = classifier_dtree_grid ,param_grid = parameters_dtree, n_jobs=-1,cv=10)

In [152]:
grid_search_dtree = grid_search_dtree.fit(x_train,y_train)

In [153]:
y_pred_tree_grid = grid_search_dtree.predict(x_test)

In [154]:
metrics.f1_score(y_test,y_pred_tree_grid,average="macro")

0.6841445805962563

In [155]:
grid_search_dtree.best_params_

{'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2}

NOW LET'S IMPLEMENT IN THE MODEL

In [314]:
classifier_dtree_grid_best = DecisionTreeClassifier(criterion='entropy',max_depth = None, min_samples_leaf= 1, min_samples_split= 2)

In [315]:
classifier_dtree_grid_best.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [316]:
y_pred_tree_grid_best = classifier_dtree_grid_best.predict(x_test)

In [317]:
decision_tree_score = metrics.f1_score(y_test,y_pred_tree_grid_best,average="macro")
decision_tree_score

0.6829187303569242

In [328]:
print(metrics.classification_report(y_test,y_pred_tree_grid_best))

              precision    recall  f1-score   support

           0       0.69      0.69      0.69      2475
           1       0.70      0.68      0.69      2536
           2       0.66      0.68      0.67      2376

   micro avg       0.68      0.68      0.68      7387
   macro avg       0.68      0.68      0.68      7387
weighted avg       0.68      0.68      0.68      7387

THIS IS ONE OF OUR TOPS, SO LET'S CHECK ACCURACY AGAIN WITH CROSS VALIDATION

In [319]:
scoring=['precision_macro','recall_macro','f1_macro']

In [320]:
accuracies_dtree = cross_validate(classifier_dtree_grid_best, x_train,y_train,scoring=scoring,cv=10)

In [321]:
decision_tree_validated=accuracies_dtree["test_f1_macro"].mean()
decision_tree_validated

0.6711423513366203

# SO FAR...OUR BEST MODELS WERE DERIVED WITH RANDOM FOREST, DECISION TREE AND BAGGING CLASSIFIER

# WITHOUT CROSS VALIDATION

In [325]:
classifier_df = pd.DataFrame(data = np.array([bagging_classifier_score,random_forest_score,decision_tree_score]),columns = ["F1-Scores(Macro)"],index=["Bagging Classifier","Random_Forest","Decision Tree"])

In [326]:
classifier_df

                    F1-Scores(Macro)
Bagging Classifier          0.716587
Random_Forest               0.703094
Decision Tree               0.682919

# WITH CROSS VALIDATION

In [327]:
classifier_df_validated = pd.DataFrame(data = np.array([bagging_classifier_validated,random_forest_validated,decision_tree_validated]),columns = ["Cross Validated F1-Scores(Macro)"],index=["Bagging Classifier","Random_Forest","Decision Tree"])
classifier_df_validated

                    Cross Validated F1-Scores(Macro)
Bagging Classifier                          0.697299
Random_Forest                               0.684806
Decision Tree                               0.671142